@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-default {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;

  &:hover {
    opacity: 0.8;
  }
}
